.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: yellow;
}
.title {
  margin: 0;
}
.list {
  list-style: none;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  background-color: blue;
  color: yellow;
}
