.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 167);
  color: rgb(255, 217, 0);
}
.title {
  margin: 10px;
}
.list {
  list-style: none;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  background-color: rgb(0, 0, 167);
  color: rgb(255, 217, 0);
  font-size: x-small;
}
.li {
  margin: 20px;
}
