.pokecard {
  display: flex;
  width: 175px;
  height: 225px;
  margin: 5px;
  background-color: rgb(0, 0, 167);
  color: rgb(255, 217, 0);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 3px 3px 5px;
}
