@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  width: 100vw;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
}
